@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  transition: all 0.2s linear;
  font-family: "Nunito";
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #1d0e15;
}
html::-webkit-scrollbar-thumb {
  background: #ff5421;
}

body {
  background: #1d0e15;
}

section {
  padding: 3rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background: #ff5421;
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.link-btn:hover {
  background: #fff;
  color: #ff5421;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  font-size: 2.5rem;
  color: #ff5421;
}
.heading h3 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #fff;
}

.header {
  z-index: 1000;
  padding: 3rem 1rem;
}
.header.active {
  background: #fff;
  padding: 2rem 0rem;
}
.header.active .logo {
  color: #000;
}
.header.active .nav a {
  color: #000;
}
.header.active #menu-btn {
  color: #000;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.header .logo span {
  color: #ff5421;
}
.header .nav a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
}
.header .nav a:hover {
  color: #ff5421;
}
.header #menu-btn {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
}

.home {
  background: url("../img/image-from-rawpixel-id-895517-jpeg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home span {
  font-size: 2.5rem;
  color: #ff5421;
}
.home h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}

.about span {
  font-size: 2.5rem;
  color: #ff5421;
}
.about h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}
.about p {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ccc;
}
.about ul {
  list-style: none;
  padding-left: 0;
}
.about ul li {
  padding-top: 1rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}
.about ul li i {
  padding-right: 0.5rem;
  color: #ff5421;
}

.counter {
  background: url("../img/image-from-rawpixel-id-895517-jpeg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.counter .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
}
.counter .box-container .box {
  text-align: center;
}
.counter .box-container .box h3 {
  font-size: 5rem;
  color: #ff5421;
}
.counter .box-container .box p {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
}

.courses .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
}
.courses .box-container .box {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.courses .box-container .box:hover .image img {
  transform: scale(1.1);
}
.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}
.courses .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.courses .box-container .content {
  padding: 2rem;
}
.courses .box-container .content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .box-container .content .icons span {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}
.courses .box-container .content .icons span i {
  color: #ff5421;
  padding-right: 1rem;
}
.courses .box-container .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1.5rem 0;
}

.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}
.pricing .box-container .box {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  background: #1d0e15;
  border-radius: 0.5rem;
}
.pricing .box-container .box:nth-child(2) {
  transform: scale(1.1);
}
.pricing .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}
.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 6rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: bolder;
}
.pricing .box-container .box .price span {
  font-size: 2rem;
  font-weight: normal;
}
.pricing .box-container .box .list p {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ccc;
}
.pricing .box-container .box .list i {
  padding-right: 0.5rem;
  color: #ff5421;
}
.pricing .box-container .box .list i.bi-x-lg {
  color: #fff;
}

.join span {
  font-size: 2.5rem;
  color: #ff5421;
}
.join h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}
.join p {
  padding: 1rem 0;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #ccc;
}

.team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
}
.team .box-container .box {
  height: 50rem;
  overflow: hidden;
  position: relative;
}
.team .box-container .box:hover .content {
  left: -100%;
}
.team .box-container .box:hover .share {
  bottom: 0;
}
.team .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .box-container .box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem 2rem;
}
.team .box-container .box .content span {
  font-size: 1.7rem;
  color: #ff5421;
}
.team .box-container .box .content h3 {
  font-size: 2rem;
  color: #000;
}
.team .box-container .box .share {
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: #fff;
  padding: 1rem;
}
.team .box-container .box .share a {
  font-size: 2rem;
  color: #000;
  margin: 0 1rem;
}
.team .box-container .box .share a:hover {
  color: #ff5421;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
}
.blogs .box-container .box {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.blogs .box-container .box:hover .image img {
  transform: scale(1.1);
}
.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem;
}
.blogs .box-container .box .content .link {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #fff;
}
.blogs .box-container .box .content .link:hover {
  color: #ff5421;
}
.blogs .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.blogs .box-container .box .content .icons span {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
}
.blogs .box-container .box .content .icons span i {
  color: #ff5421;
  padding-right: 0.5rem;
}

footer {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding-top: 5rem;
}
footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template: 2rem;
  gap: 1rem;
}
footer .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 0;
}
footer .box-container .box a {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ccc;
  padding: 0.5rem 0;
  display: block;
}
footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #ff5421;
}
footer .box-container .box a:hover {
  color: #ff5421;
}
footer .box-container .box p {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #ccc;
}
footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}
footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}
footer .credit span {
  color: #ff5421;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home h3 {
    font-size: 3rem;
  }
  .pricing .box-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .pricing .box-container .box:nth-child(2) {
    transform: scale(1);
  }
  .join h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 0;
    flex-flow: column;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    color: #000;
    margin: 1rem 2rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */