@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$orange: #ff5421;
$white: #fff;
$black: #000;
$light-color: #ccc;
$bg-color: #1d0e15;
$border: .1rem solid rgba(255,255,255,.2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none!important;
    transition: all 0.2s linear;
    font-family: 'Nunito';
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    grid-template: 2rem;
    gap: 1rem;
}

@mixin title-text($titleText) {
    font-size: $titleText;
    text-transform: capitalize;
    color: $white;
}

@mixin graph-text($graphText) {
    font-size: $graphText;
    line-height: 3rem;
    color: $light-color;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: $bg-color;
    }
    &::-webkit-scrollbar-thumb {
        background: $orange;
    }
}

body {
    background: $bg-color;
}

section {
    padding: 3rem 1rem;
}

.link-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    background: $orange;
    color: $white;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    &:hover {
        background: $white;
        color: $orange;
    }
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    span {
        font-size: 2.5rem;
        color: $orange;
    }
    h3 {
        @include title-text(3.5rem);
    }
}

.header {
    z-index: 1000;
    padding: 3rem 1rem;

    &.active {
        background: $white;
        padding: 2rem 0rem;
        .logo {
            color: $black;
        }
        .nav a {
            color: $black;
        }
        #menu-btn {
            color: $black;
        }
    }

    .logo {
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;
        span {
            color: $orange;
        }
    }
    .nav {
        a {
            font-size: 2rem;
            margin-left: 2rem;
            color: $white;
            &:hover {
                color: $orange;
            }
        }
    }
    #menu-btn {
        display: none;
        font-size: 2.5rem;
        cursor: pointer;
        color: $white;
    }
}

.home {
    background: url('../img/image-from-rawpixel-id-895517-jpeg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    span {
        font-size: 2.5rem;
        color: $orange;
    }
    h3 {
        @include title-text(5rem);
        padding-top: 1rem;
    }
}

.about {
    span {
        font-size: 2.5rem;
        color: $orange;
    }
    h3 {
        @include title-text(2.7rem);
        padding-top: 1rem;
    }
    p {
        @include graph-text(1.5rem);
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            padding-top: 1rem;
            @include title-text(1.7rem);
            i {
                padding-right: 0.5rem;
                color: $orange;

            }
        }
    }
}

.counter {
    background: url('../img/image-from-rawpixel-id-895517-jpeg.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    .box-container {
        @include grid(25rem);
        .box {
            text-align: center;
            h3 {
                font-size: 5rem;
                color: $orange;
            }
            p {
                @include title-text(2rem)
            }
        }
    }
}

.courses {
    .box-container {
        @include grid(30rem);
        .box {
            border: $border;
            &:hover .image img {
                transform: scale(1.1);
            }
            .image {
                height: 25rem;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
        .content {
            padding: 2rem;
            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    @include title-text(1.7rem);

                    i {
                        color: $orange;
                        padding-right: 1rem;
                    }
                }
            }
            h3 {
                @include title-text(2rem);
                padding: 1.5rem 0;
            }
        }

    }

}

.pricing {
    .box-container {
        @include grid(30rem);
        margin-top: 8rem;
        margin-bottom: 5rem;
        .box {
            padding: 2rem;
            text-align: center;
            border: $border;
            background: $bg-color;
            border-radius: .5rem;
            &:nth-child(2) {
                transform: scale(1.1)
            }
            h3 {
                @include title-text(2rem);
                padding-top: 1rem;
            }
            .price {
                padding: 1rem 0;
                @include title-text(6rem);
                font-weight: bolder;
                span {
                    font-size: 2rem;
                    font-weight: normal;
                }
            }
            .list {
                p {
                    padding-top: 1rem;
                    @include graph-text(1.5rem);
                }
                i {
                    padding-right: 0.5rem;
                    color: $orange;
                    &.bi-x-lg {
                        color: $white;
                    }
                }

            }

        }
    }
}

.join {
    span {
        font-size: 2.5rem;
        color: $orange;
    }
    h3 {
        @include title-text(2.7rem);
        padding-top: 1rem;
    }
    p {
        padding: 1rem 0;
        @include graph-text(1.7rem);
    }
}

.team {
    .box-container {
        @include grid(30rem);
        .box {
            height: 50rem;
            overflow: hidden;
            position: relative;
            &:hover {
                .content {
                    left: -100%;
                }
                .share {
                    bottom: 0;
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $white;
                padding: 1rem 2rem;
                span {
                    font-size: 1.7rem;
                    color: $orange;
                }
                h3 {
                    font-size: 2rem;
                    color: $black;
                }
            }
            .share {
                position: absolute;
                bottom: -100%;
                left: 0;
                background-color: $white;
                padding: 1rem;
                a {
                    font-size: 2rem;
                    color: $black;
                    margin:0 1rem;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}

.blogs {
    .box-container {
        @include grid(30rem);
        .box {
            border: $border;
            &:hover .image img {
                transform: scale(1.1);
            }
            .image {
                height: 25rem;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .content {
                padding: 2rem;
                .link {
                    @include title-text(1.5rem);
                     
                    &:hover {
                        color: $orange;
                    }
                }
                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 2rem;
                    margin-top: 2rem;
                    border-top: $border;
                    span {
                        @include title-text(1.7rem);
                        i {
                            color: $orange;
                            padding-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

footer {
    border-top: $border;
    padding-top: 5rem;
    .box-container {
        @include grid(25rem);
        .box {
            h3 {
                @include title-text(2rem);
                padding: 1rem 0;
            }
            a {
                @include graph-text(1.5rem);
                padding: 0.5rem 0;
                display: block;
                i {
                    padding-right: 0.5rem;
                    color: $orange;
                }
                &:hover {
                    color: $orange;
                }
            }
            p {
                @include graph-text(1.6rem);
            }
            .email {
                width: 100%;
                padding: 1.2rem;
                font-size: 1.6rem;
                border: $border;
                margin: 1rem 0;
            }
        }
    }

    .credit {
        @include title-text(2rem);
        text-align: center;
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: $border;
        span {
            color: $orange;
        }

    }
}



// media queries

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .home {
        h3 {
            font-size: 3rem;
        }
    }
    .pricing .box-container {
        margin-top: 0;
        margin-bottom: 0;
        .box:nth-child(2) {
            transform: scale(1);
        }
    }
    .join {
        h3 {
            font-size: 2.5rem;
        }
    }
}


@media (max-width: 768px) {
    .header {
        padding: 2rem;

        &.active {

        }
        #menu-btn {
            display: inline-block;
        }
        .nav {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $white;
            padding: 1rem 0;
            flex-flow: column;
            clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
            
            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
            }
            a {
                color: $black;
                margin: 1rem 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

